
// Fonts

@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i');

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~select2-bootstrap4-theme/src/select2-bootstrap4';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
